@import url("https://use.typekit.net/syb5zbi.css");

/* 
Poppins

font-family: poppins,
sans-serif;
font-style: normal;
font-weight: 100; 

Mill Goudy

font-family: sorts-mill-goudy,
serif;
font-style: normal;
font-weight: 500;
*/




  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .page-title {
      font-family: poppins,
      sans-serif;
      font-style: normal;
      font-weight: 100;
  }

  p, button, span{
      font-family: sorts-mill-goudy,
      serif;
      font-style: normal;
      font-weight: 500;
  }

  p{
    font-size: 20px;
    line-height: 1.8;
    /* Font Millgoudy */
    font-family: sorts-mill-goudy,
    serif;
    font-style: normal;
    font-weight: 500;

  }

  a{
      font-family: sorts-mill-goudy,
      serif;
      font-style: normal;
      font-weight: 500;
  }

  a:hover{
    transition: .2s ease-in;
    color: #3A2C2E !important;
    text-decoration: underline;
  }

  .fontSize15{
    font-size: 15px !important;
  }
  .fontSize18{
    font-size: 18px !important;
  }
  .fontSize20{
    font-size: 20px !important;
  }  
  .fontSize22{
    font-size: 22px !important;
  }
  .fontSize24{
    font-size: 24px !important;
  }
  .fontSize26{
    font-size: 26px !important;
  }
  .fontSize28{
    font-size: 28px !important;
  }
  .fontSize30{
    font-size: 30px !important;
  }  
  .fontSize35{
    font-size: 35px !important;
  }

  /* Font Variations | Keep below header tags, p tags, a tags, etc for priority purposes */
    /* Everything else */
  .poppins {
    font-family: poppins,
      sans-serif;
    font-style: normal;
    font-weight: 100;
  }

  .millgoudy{
    font-family: sorts-mill-goudy,
    serif;
    font-style: normal;
    font-weight: 500;
  }

  /* Colors */
  .colorA{
    color:#f0c0c7 !important;
  }
  
  .colorB{
    color:#ffb0bc !important;
  }
  .colorC {
      color: #FADADD !important;
  }
  .bgColorC {
      color: #FADADD !important;
  }
  
  .bgColorC {
      background-color: #FADADD !important;
  }

  .colorD{
    color: #75595d !important;
  }

  .colorE{
    color:#c7a0a6 !important;
  }

  .darkerColorE{
    color: #3A2C2E !important;
  }
  

  /* Contact Form */
  .contactFormContainer input,
  .contactFormContainer select,
  .contactFormContainer option {
    border: 1px solid #75595d;
    border-radius: 5px;
    padding: 1.3% 1.3%;
    width: 100%;
  }
  
  .contactFormContainer label,
  .contactFormContainer select,
  .contactFormContainer option{
    width: 55%;
  }

  .contactFormContainer textarea{
    width: 55%;
  }

    /* Navbar */
  .navbar{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(117,89,93,.30) !important;
      padding: 1.5% 2.5%;
  }

  .navbar-brand{
    color: #75595d !important;
    font-size: 30px;

  }

  /* .navbar-nav{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: auto;
    margin: 0;
    padding: 0;
  } */

  .active{
    color: #3A2C2E75 !important;
  }

  .navbar-toggler {
    font-size: 30px;
    color: #75595d !important;
    border-color: #75595d;
  }

  /* Hero & Banner */

  .hero{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #FADADD;
    background-size: cover !important;
    background-repeat:no-repeat !important;
    background-position: center center !important;
    background:url('../assets/img/5.jpg'),
    linear-gradient(90deg, rgba(250, 218, 221, 1), rgba(250, 218, 221, 1));
  }

  

  .heroBtn{
    margin: 0;
    padding: 1%;
    font-size: 17px;
    background-color:#E3BFBA;
    position: absolute;
    top:50%;
    left: 45%;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  }

  .banner{
    height: 50vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background:url('../assets/img/4.jpg'),
        linear-gradient(90deg, rgba(250, 218, 221, 1), rgba(250, 218, 221, 1));
    background-color: #FADADD;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    background-position: top;

  }

  .bannerText{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: auto;
    text-align: center;
    font-size: 60px;
    color: #75595d;
    font-family: sorts-mill-goudy,
    serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }


/* Calendar */
.days{
  border: 1px solid #FADADD;
  cursor: pointer;
}

.day{
  color: #75595d;
  cursor: pointer;
}

#monthOptions{
  border: none;
  border-radius: 10px;
  font-size: 20px;
  width: 350px;
  border-bottom: .5px solid #75595d;
  padding: 1% 0;
  font-family: sorts-mill-goudy,
  serif;
  font-style: normal;
  font-weight: 500;
}



.agenda{
  display:none;
  margin: 0;
  padding: 0;
  /* height: 10%; */
  /* background-color: #FADADD; */
  /* padding: 0 15%; */
  /* border-radius: 5px;  */
  /* margin: 1%; */
  /* font-size: 20px; */
  cursor: pointer;
}

.bookingTimeOption {
  border-radius: 5px;
  border: 2px solid #75595d;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #75595d;

}

.inputFields {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #75595d;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #75595d;
  margin: 5% 0;
}


.showAgenda{
  display: block;
}

.focus:focus{
  color: #75595d;

}



.todayBg{
  background-color: #75595d;
  cursor: pointer;
}

.todayFont{
  color: #FADADD;
  cursor: pointer;
}

.todayBookingTimeOption{
  border: 2px solid #FADADD;
  border-top: none;
  border-left: none;
  border-right: none;
}

.previousDateOverlay{
  width: 100%;
  height: 100%;
  background-color: #FADADD75;
}

.cal .col-md-1{
  width: 14.285714285714286%;
  *width:14.285714285714286%;
}

/* Cards */
/* buttons */
  .add_to_cart_button{
    margin: 2%;
    padding: 2% 3.5%;
    font-size: 17px;
    background-color:#FADADD;
  }

  /* Footer */
.footerDetails{
  background-color: #FADADD;
  bottom: 0;
  padding: 1.5% 0;
}

.footerDetails ul{
  list-style-type: none;
}

.footerDetails li{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.dateCard{
  border-radius: 20px;
  /* border: .01px dotted #75595d; */
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: auto;
  max-width: 45%;
  height: auto;
  min-height: 350px;
  display: none;
}

.showCard{
  display: block;
}

.thankYou{
  display: none;
}


/* Sections */

.sectionOne{
  height: auto;
  padding: 2.5% 0;
}

.sectionTwo
 {
  min-height: 95vh;
}

.sectionThree{
height: auto;
padding: 2.5% 0;
}

.sectionThree button{
margin: 0;
padding: 1%;
font-size: 17px;
background-color:#E3BFBA
}

.sectionTwo{
  background-color: #75595d;
}

.showContent{
  display: block;
}

.hideContent{
  display: none;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0,0,0,0.95);
  z-index: 1;
  overflow-x: hidden;
}

.showOverlay{
  display: block;
}
.closePosition{
  position: absolute;
  top: 8%;
  right: 5%;
}

  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 414px) {
.hero {
  background-color: #FADADD;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
}
  .heroBtn {
    margin: 0;
    padding: 2%;
    font-size: 19px;
    background-color: #E3BFBA;
    position: absolute;
    top: 60%;
    left: 30%;
    right: 30%;
    text-align: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }
  .heroText {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;

    /* font  */
    font-size: 50px;
    color: #75595d;
    font-family: sorts-mill-goudy,
      serif;
    font-style: normal;
    font-weight: 500;
    
    /* size  */
    width: auto;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }

  .days {
    width: 100%;
    *width: 100%;
    min-width: 100%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 414px) {
  .hero {
    background-color: #FADADD;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
  }
  
  .heroBtn {
    margin: 0 0;
    padding: 2%;
    font-size: 19px;
    background-color: #E3BFBA;
    position: absolute;
    top: 59%;
    left: 30%;
    right: 30%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }

  .heroText {
    position: absolute;
    top: 40%;
    left: 3%;
    font-size: 50px;
    color: #75595d;
    font-family: sorts-mill-goudy,
      serif;
    font-style: normal;
    font-weight: 500;
    width: 95%;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }

  .days {
    width: 100%;
    *width: 100%;
    min-width: 100%;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero {
    background-color: #FADADD;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
  }

  .heroBtn {
    margin: 0;
    padding: 1%;
    font-size: 19px;
    background-color: #E3BFBA;
    position: absolute;
    top: 55%;
    left: 40%;
    right: 40%;
    text-align: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }

  .heroText {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;

    /* Font */
    text-align: center;
    font-size: 65px;
    color: #75595d;
    font-family: sorts-mill-goudy,
      serif;
    font-style: normal;
    font-weight: 500;

    /* Size */
    width: auto;
    margin: 0;
    padding: 0;
  }


/* 100 / 3 = 33.333333333333333 */
  .days {
    width: 33.333333333333333%;
    *width: 33.333333333333333%;
    min-width:33.333333333333333%;
  }

  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero {
    background-color: #FADADD;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }

  .heroBtn {
    margin: 0;
    padding: 1%;
    font-size: 19px;
    background-color: #E3BFBA;
    position: absolute;
    top: 65%;
    left: 40%;
    right: 40%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }

  .heroText {
    /* Position */
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 65px;

    /* Font */
    color: #75595d;
    font-family: sorts-mill-goudy,
      serif;
    font-style: normal;
    font-weight: 500;

    /* Size */
    width: auto;
    margin: 0;
    padding: 0;
  }


  /* 100 / 7 = 14.285714285714286 */
  .days {
    width: 14.285714285714286%;
    *width: 14.285714285714286%;
    min-width: 14.285714285714286%;
  }

  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero {
    background-color: #FADADD;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }

  .heroBtn {
    margin: 0;
    padding: 1%;
    font-size: 19px;
    background-color: #E3BFBA;
    position: absolute;
    top: 60%;
    left: 42.5%;
    right: 42.5%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2), -1px 1px 6px rgba(0,0,0,0.2);
  }

  .heroText {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 65px;
    color: #75595d;
    font-family: sorts-mill-goudy,
      serif;
    font-style: normal;
    font-weight: 500;
    width: auto;

    margin: 0;
    padding: 0;
  }


  /* 100 / 7 = 14.285714285714286 */
  .days {
    width: 14.285714285714286%;
    *width: 14.285714285714286%;
    min-width: 14.285714285714286%;
  }
}
