@import url("https://use.typekit.net/syb5zbi.css");

/* 
Poppins

font-family: poppins,
sans-serif;
font-style: normal;
font-weight: 100; 

Mill Goudy

font-family: sorts-mill-goudy,
serif;
font-style: normal;
font-weight: 500;
*/




  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .page-title {
      font-family: poppins,
      sans-serif;
      font-style: normal;
      font-weight: 100;
  }

  p, button, span{
      font-family: sorts-mill-goudy,
      serif;
      font-style: normal;
      font-weight: 500;
  }

  a{
      font-family: sorts-mill-goudy,
      serif;
      font-style: normal;
      font-weight: 500;
  }

  a:hover{
    transition: .2s ease-in;
    color: #3A2C2E !important;
    text-decoration: underline;
  }

  .fontSize15{
    font-size: 15px !important;
  }
  .fontSize18{
    font-size: 18px !important;
  }
  .fontSize20{
    font-size: 20px !important;
  }

  /* Font Variations | Keep below header tags, p tags, a tags, etc for priority purposes */
    /* Everything else */
  .poppins {
    font-family: poppins,
      sans-serif;
    font-style: normal;
    font-weight: 100;
  }

  .millgoudy{
    font-family: sorts-mill-goudy,
    serif;
    font-style: normal;
    font-weight: 500;
  }

  /* Colors */
  .colorA{
    color:#f0c0c7 !important;
  }
  
  .colorB{
    color:#ffb0bc !important;
  }
  .colorC {
      color: #FADADD !important;
  }

  .colorD{
    color: #75595d !important;
  }

  .colorE{
    color:#c7a0a6 !important;
  }

  .darkerColorE{
    color: #3A2C2E !important;
  }
  
  

    /* Navbar */
  .navbar{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(117,89,93,.26) !important;
      padding: 1.5% 2%;
  }

  .navbar-brand{
    color: #75595d !important;
    font-size: 30px;
    
  }

  .active{
    color: #3A2C2E75 !important;
  }

  .navbar-toggler {
    font-size: 30px;
    color: #75595d !important;
    border-color: #75595d;
  }

  /* Home Hero */

  .hero{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #FADADD;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */

  }

  .heroText{
      position: absolute;
      top: 35%;
      left: 29%;
      font-size: 65px;
      color: #75595d;
      font-family: sorts-mill-goudy,
      serif;
      font-style: normal;
      font-weight: 500;
      width: 43%;
      text-align: center;
      margin: 0;
      padding: 0;
  }


  .hero a {
    margin: 0;
    padding: 2.5%;
    font-size: 17px;
    background-color:#E3BFBA;
  }


/* Cards */

.attachment-woocommerce_thumbnail{
  /* margin: 3% 0; */
}



/* buttons */
  .add_to_cart_button{
    margin: 2%;
    padding: 2% 3.5%;
    font-size: 17px;
    background-color:#FADADD;
  }

  /* Footer */
.footerDetails{
  background-color: #FADADD;
  bottom: 0;
  padding: 1.5% 0;
}


  body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }